<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.frontrow.appliance.name.tweed.jonathan.bbciplayer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>fnrw</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FRApplianceCategoryDescriptors</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>tv</string>
			<key>is-network-dependent</key>
			<true/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>TV</string>
			<key>preferred-order</key>
			<integer>1</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
		<dict>
			<key>identifier</key>
			<string>radio</string>
			<key>is-network-dependent</key>
			<true/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Radio</string>
			<key>preferred-order</key>
			<integer>2</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
		<dict>
			<key>identifier</key>
			<string>categories</string>
			<key>is-network-dependent</key>
			<true/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Categories</string>
			<key>preferred-order</key>
			<integer>3</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
		<dict>
			<key>identifier</key>
			<string>a-z</string>
			<key>is-network-dependent</key>
			<true/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>A to Z</string>
			<key>preferred-order</key>
			<integer>4</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
		<dict>
			<key>identifier</key>
			<string>search</string>
			<key>is-network-dependent</key>
			<true/>
			<key>is-share-dependent</key>
			<false/>
			<key>is-store-category</key>
			<false/>
			<key>name</key>
			<string>Search</string>
			<key>preferred-order</key>
			<integer>5</integer>
			<key>priority</key>
			<real>6</real>
		</dict>
	</array>
	<key>FRAppliancePreferedOrderValue</key>
	<string>0</string>
	<key>NSPrincipalClass</key>
	<string>BBCiPlayerAppliance</string>
</dict>
</plist>
